In [30]:
import pandas as pd
import os
from sklearn.metrics import classification_report
os.chdir('/Users/caicaiqijun/智慧牙/数据/全国数据/评分卡/评分评级/回溯预测趋势')

# 实际趋势

## history_backtrack

In [6]:
history_backtrack=pd.read_csv('history_backtrack_actual.csv')
history_backtrack

,company_id,score_20200601,score_20200701,score_20200801
0,F778171625CD8347BE5887C259FAABCE,23.871194,23.861605,26.057930
1,592498A2CD138BF2BEA29D7A801234CB,36.949715,37.060861,37.155720
2,96C0CC481A511A854C6C64FEA435B36F,9.168571,9.168571,9.168571
3,B3E7FABE5DF326EAED3837B55321BB1A,8.218046,8.218046,8.218046
4,E5F98C48A09A238CF1111826B770B9F0,19.517453,19.517453,19.517453
...,...,...,...,...
1090700,18278F46B163FB4DB60BFDE851817EE2,8.083491,17.369105,17.369105
1090701,9FF7E3140826729015C526D42EDF18EC,27.188194,27.243809,27.243809
1090702,8D54ED2FDA117646826A02B900B0B6C3,30.195892,30.195892,30.195892
1090703,9BAB6FE337A184E4C4F4F43497F53D4C,20.979779,20.979779,20.414124
1090704,F024168EAD280BED3B7B53A5DB67A560,26.776627,26.796415,26.796415

In [9]:
history_backtrack['actual']=(history_backtrack['score_20200601']+history_backtrack['score_20200701']+history_backtrack['score_20200801'])/3

In [10]:
history_backtrack

,company_id,score_20200601,score_20200701,score_20200801,actual
0,F778171625CD8347BE5887C259FAABCE,23.871194,23.861605,26.057930,24.596910
1,592498A2CD138BF2BEA29D7A801234CB,36.949715,37.060861,37.155720,37.055432
2,96C0CC481A511A854C6C64FEA435B36F,9.168571,9.168571,9.168571,9.168571
3,B3E7FABE5DF326EAED3837B55321BB1A,8.218046,8.218046,8.218046,8.218046
4,E5F98C48A09A238CF1111826B770B9F0,19.517453,19.517453,19.517453,19.517453
...,...,...,...,...,...
1090700,18278F46B163FB4DB60BFDE851817EE2,8.083491,17.369105,17.369105,14.273900
1090701,9FF7E3140826729015C526D42EDF18EC,27.188194,27.243809,27.243809,27.225270
1090702,8D54ED2FDA117646826A02B900B0B6C3,30.195892,30.195892,30.195892,30.195892
1090703,9BAB6FE337A184E4C4F4F43497F53D4C,20.979779,20.979779,20.414124,20.791227
1090704,F024168EAD280BED3B7B53A5DB67A560,26.776627,26.796415,26.796415,26.789819

## 20220601

In [11]:
old_score=pd.read_csv('20220601.csv')
old_score

                               company_id  score_20200601
0        FE030E194232443AD6C2C7A56BBD0B9D        0.699041
1        1CDB29FD9A2C7C6C6C04024FCFF2AA37       22.035425
2        5C6D247E93C4494BE9F6B0340AEBCA83        2.053054
3        45318BD7A78D253F77219D8B966CF443        0.309694
4        398A5BFE62334C1C949E388A1F21968B       13.134399
...                                   ...             ...
1090700  2B05327D9D065A99DC61C3927477C8C5        4.691243
1090701  5F13529740D8446021D455C22F25759D        4.691243
1090702  78A6B6F59EAECB32FD0476F4D5F5FDA4        1.846697
1090703  E54FE2170891921BC7E5B66B5021A144        3.207977
1090704  3969431AFF684B77C3A3197A99E73BFE       15.830943

[1090705 rows x 2 columns]

In [12]:
old_score_trend=pd.merge(old_score,history_backtrack[['company_id','actual']],on='company_id')
old_score_trend

                               company_id  score_20200601     actual
0        FE030E194232443AD6C2C7A56BBD0B9D        0.699041   2.876428
1        1CDB29FD9A2C7C6C6C04024FCFF2AA37       22.035425  33.096290
2        5C6D247E93C4494BE9F6B0340AEBCA83        2.053054   6.413233
3        45318BD7A78D253F77219D8B966CF443        0.309694   3.707004
4        398A5BFE62334C1C949E388A1F21968B       13.134399  16.591630
...                                   ...             ...        ...
1090700  2B05327D9D065A99DC61C3927477C8C5        4.691243   8.043850
1090701  5F13529740D8446021D455C22F25759D        4.691243   8.043850
1090702  78A6B6F59EAECB32FD0476F4D5F5FDA4        1.846697   5.056446
1090703  E54FE2170891921BC7E5B66B5021A144        3.207977   6.560584
1090704  3969431AFF684B77C3A3197A99E73BFE       15.830943  23.795441

[1090705 rows x 3 columns]

In [48]:
import numpy as np

In [49]:
old_score_trend['trend']=np.sign(old_score_trend.actual-old_score_trend.score_20200601)

In [50]:
old_score_trend['trend'].value_counts()

 1.0    1030812
-1.0      58577
 0.0       1316
Name: trend, dtype: int64

In [24]:
old_score_trend.query('trend==0')

                               company_id  score_20200601     actual  trend
355      2E2EB03656E505D9BE97A09421D38DCF       54.375200  54.375200    0.0
389      FD005979F30399A385351B16B7859AEB       43.714015  43.714015    0.0
942      F402C518ECB23756EB1AABBC65361136       32.141819  32.141819    0.0
1238     567A8CEFC8325A681DBE1209622800DD       37.610648  37.610648    0.0
1553     145114CC90F16782747962D803C44343        6.921680   6.921680    0.0
...                                   ...             ...        ...    ...
1086013  728C9A7F83871F22DB3779698EB45AB5       53.099544  53.099544    0.0
1087537  90259A9682090018E1D2B33A662B7A05       14.338352  14.338352    0.0
1087648  45DD288D868353EBD565D2CBC7CFCF5D       69.673460  69.673460    0.0
1088596  561BBDF93EF6B210EA0AB8EBE9044D86       12.044556  12.044556    0.0
1089916  D631218CB55E8DCB571AAD3C13F9EEEC       16.157795  16.157795    0.0

[1316 rows x 4 columns]

In [15]:
old_score_trend['trend']=np.sign(old_score_trend.actual>old_score_trend.score_20200601).astype(int)

In [17]:
old_score_trend['trend'].value_counts()

1    1030812
0      59893
Name: trend, dtype: int64

# WLS预测趋势

## WLS_predict

In [82]:
WLS_predict=pd.read_parquet('WLS_predict')
WLS_predict_trend=pd.merge(WLS_predict,old_score,on='company_id')
WLS_predict_trend['trend']=np.sign(WLS_predict_trend.predict-WLS_predict_trend.score_20200601)
WLS_predict_trend['trend'].value_counts()

 1.0    643411
-1.0    446733
 0.0       539
Name: trend, dtype: int64

## Compare_WPL

In [83]:
Compare=pd.merge(old_score_trend,WLS_predict_trend,on='company_id',suffixes=['_old','_pre'])
Compare

,company_id,score_20200601_old,actual,trend_old,date,predict,score_20200601_pre,trend_pre
0,FE030E194232443AD6C2C7A56BBD0B9D,0.699041,2.876428,1.0,20220920,0.699041,0.699041,1.0
1,1CDB29FD9A2C7C6C6C04024FCFF2AA37,22.035425,33.096290,1.0,20220920,25.332950,22.035425,1.0
2,5C6D247E93C4494BE9F6B0340AEBCA83,2.053054,6.413233,1.0,20220920,1.890139,2.053054,-1.0
3,45318BD7A78D253F77219D8B966CF443,0.309694,3.707004,1.0,20220920,0.488325,0.309694,1.0
4,398A5BFE62334C1C949E388A1F21968B,13.134399,16.591630,1.0,20220920,13.206495,13.134399,1.0
...,...,...,...,...,...,...,...,...
1090678,2B05327D9D065A99DC61C3927477C8C5,4.691243,8.043850,1.0,20220920,6.085782,4.691243,1.0
1090679,5F13529740D8446021D455C22F25759D,4.691243,8.043850,1.0,20220920,3.175464,4.691243,-1.0
1090680,78A6B6F59EAECB32FD0476F4D5F5FDA4,1.846697,5.056446,1.0,20220920,2.321177,1.846697,1.0
1090681,E54FE2170891921BC7E5B66B5021A144,3.207977,6.560584,1.0,20220920,3.056069,3.207977,-1.0
1090682,3969431AFF684B77C3A3197A99E73BFE,15.830943,23.795441,1.0,20220920,0.000000,15.830943,-1.0

In [84]:
perform = pd.DataFrame(classification_report(Compare['trend_old'].tolist(), Compare['trend_pre'].tolist(), output_dict = 'dict')).transpose()
perform.sort_values('f1-score', ascending = False)

              precision    recall  f1-score       support
1.0            0.941906  0.587931  0.723967  1.030790e+06
weighted avg   0.892816  0.575688  0.688860  1.090683e+06
accuracy       0.575688  0.575688  0.575688  5.756879e-01
macro avg      0.331515  0.320867  0.270879  1.090683e+06
-1.0           0.048929  0.373150  0.086513  5.857700e+04
0.0            0.003711  0.001520  0.002156  1.316000e+03

# SES预测趋势

## SES_predict

In [97]:
SES_predict=pd.read_parquet('SES_predict')
SES_predict.drop_duplicates(subset=['company_id'],inplace=True)
SES_predict

                               company_id      date    predict
0        5D07F5CBE8C08621997EF22D715F5EE1  20220920  26.441830
1        4E36A8BD4CD05D0298EABA314AA57024  20220920   4.529560
2        12E93487EAAC96A47F26BAB6A8D5417E  20220920  20.162597
3        6730EA3AFF8857597E1F7C03B604A341  20220920  19.774151
4        FF509D7C8D32D60A045648B63C2C587C  20220920  11.993881
...                                   ...       ...        ...
1090700  097C7CB6F1830D8C3284D48EC3A532F7  20220920   0.044497
1090701  BFB3ACDA98C12B4C28E8316D4BF6BF11  20220920   2.660169
1090702  C4F29A816AC4784FDB0153CF73A8FCC6  20220920   7.154785
1090703  EB66FB4F74CC08D508743EF92025615F  20220920   5.912414
1090704  D7C8A44AAB082336973037458E2F87CE  20220920   6.724524

[1090684 rows x 3 columns]

In [65]:
SES_predict_trend=pd.merge(SES_predict,old_score,on='company_id')
SES_predict_trend

                               company_id      date    predict  score_20200601
0        5D07F5CBE8C08621997EF22D715F5EE1  20220920  26.441830       25.969465
1        4E36A8BD4CD05D0298EABA314AA57024  20220920   4.529560        5.150845
2        12E93487EAAC96A47F26BAB6A8D5417E  20220920  20.162597       21.812177
3        6730EA3AFF8857597E1F7C03B604A341  20220920  19.774151       18.259728
4        FF509D7C8D32D60A045648B63C2C587C  20220920  11.993881       12.477202
...                                   ...       ...        ...             ...
1090679  097C7CB6F1830D8C3284D48EC3A532F7  20220920   0.044497        0.044497
1090680  BFB3ACDA98C12B4C28E8316D4BF6BF11  20220920   2.660169        2.371454
1090681  C4F29A816AC4784FDB0153CF73A8FCC6  20220920   7.154785        6.406333
1090682  EB66FB4F74CC08D508743EF92025615F  20220920   5.912414        5.261208
1090683  D7C8A44AAB082336973037458E2F87CE  20220920   6.724524        5.960193

[1090684 rows x 4 columns]

In [68]:
SES_predict_trend['trend']=np.sign(SES_predict_trend.predict-SES_predict_trend.score_20200601)

In [69]:
SES_predict_trend['trend'].value_counts()

 1.0    750506
-1.0    331999
 0.0      8179
Name: trend, dtype: int64

## Compare_SES

In [85]:
Compare_SES=pd.merge(old_score_trend,SES_predict_trend,on='company_id',suffixes=['_old','_pre'])
Compare_SES

,company_id,score_20200601_old,actual,trend_old,date,predict,score_20200601_pre,trend_pre
0,FE030E194232443AD6C2C7A56BBD0B9D,0.699041,2.876428,1.0,20220920,0.699041,0.699041,0.0
1,1CDB29FD9A2C7C6C6C04024FCFF2AA37,22.035425,33.096290,1.0,20220920,25.230342,22.035425,1.0
2,5C6D247E93C4494BE9F6B0340AEBCA83,2.053054,6.413233,1.0,20220920,1.989220,2.053054,-1.0
3,45318BD7A78D253F77219D8B966CF443,0.309694,3.707004,1.0,20220920,0.335413,0.309694,1.0
4,398A5BFE62334C1C949E388A1F21968B,13.134399,16.591630,1.0,20220920,14.879719,13.134399,1.0
...,...,...,...,...,...,...,...,...
1090679,2B05327D9D065A99DC61C3927477C8C5,4.691243,8.043850,1.0,20220920,5.535961,4.691243,1.0
1090680,5F13529740D8446021D455C22F25759D,4.691243,8.043850,1.0,20220920,7.587671,4.691243,1.0
1090681,78A6B6F59EAECB32FD0476F4D5F5FDA4,1.846697,5.056446,1.0,20220920,1.850338,1.846697,1.0
1090682,E54FE2170891921BC7E5B66B5021A144,3.207977,6.560584,1.0,20220920,5.609502,3.207977,1.0
1090683,3969431AFF684B77C3A3197A99E73BFE,15.830943,23.795441,1.0,20220920,0.000000,15.830943,-1.0

In [86]:
perform = pd.DataFrame(classification_report(Compare_SES['trend_old'].tolist(), Compare_SES['trend_pre'].tolist(), output_dict = 'dict')).transpose()
perform.sort_values('f1-score', ascending = False)

              precision    recall  f1-score       support
1.0            0.948656  0.690705  0.799386  1.030791e+06
weighted avg   0.899902  0.671710  0.761167  1.090684e+06
accuracy       0.671710  0.671710  0.671710  6.717097e-01
macro avg      0.338821  0.359387  0.304931  1.090684e+06
-1.0           0.062060  0.351742  0.105506  5.857700e+04
0.0            0.005746  0.035714  0.009900  1.316000e+03

# WLA_6m预测趋势

## WLA_6m_predict

In [98]:
WLA_6m_predict=pd.read_parquet('WLA_6m_predict')
WLA_6m_predict

                               company_id      date    predict         slope
0        5D07F5CBE8C08621997EF22D715F5EE1  20220920  25.606146 -8.969063e-02
1        4E36A8BD4CD05D0298EABA314AA57024  20220920   5.508993  1.231152e-01
2        12E93487EAAC96A47F26BAB6A8D5417E  20220920  21.734558 -4.652641e-03
3        6730EA3AFF8857597E1F7C03B604A341  20220920  18.259728 -1.776357e-15
4        FF509D7C8D32D60A045648B63C2C587C  20220920  12.477202 -1.332268e-15
...                                   ...       ...        ...           ...
1090699  1B9C7C87C2BB1DADDDE2B8C50F1B50D9  20220920   6.044620  2.771530e-01
1090700  097C7CB6F1830D8C3284D48EC3A532F7  20220920   0.044497 -3.469447e-18
1090701  BFB3ACDA98C12B4C28E8316D4BF6BF11  20220920   2.371454 -3.330669e-16
1090702  C4F29A816AC4784FDB0153CF73A8FCC6  20220920   9.431037  1.008821e+00
1090703  EB66FB4F74CC08D508743EF92025615F  20220920   6.801961  5.296410e-01

[1090683 rows x 4 columns]

In [116]:
WLA_6m_predict.query('company_id=="E8F720300BD7DF52C23209A17475ED42"')

                              company_id      date    predict     slope
745328  E8F720300BD7DF52C23209A17475ED42  20220920  57.523353  0.605568

In [99]:
WLA_6m_predict_trend=pd.merge(WLA_6m_predict,old_score,on='company_id')
WLA_6m_predict_trend

,company_id,date,predict,slope,score_20200601
0,5D07F5CBE8C08621997EF22D715F5EE1,20220920,25.606146,-8.969063e-02,25.969465
1,4E36A8BD4CD05D0298EABA314AA57024,20220920,5.508993,1.231152e-01,5.150845
2,12E93487EAAC96A47F26BAB6A8D5417E,20220920,21.734558,-4.652641e-03,21.812177
3,6730EA3AFF8857597E1F7C03B604A341,20220920,18.259728,-1.776357e-15,18.259728
4,FF509D7C8D32D60A045648B63C2C587C,20220920,12.477202,-1.332268e-15,12.477202
...,...,...,...,...,...
1090678,1B9C7C87C2BB1DADDDE2B8C50F1B50D9,20220920,6.044620,2.771530e-01,5.646868
1090679,097C7CB6F1830D8C3284D48EC3A532F7,20220920,0.044497,-3.469447e-18,0.044497
1090680,BFB3ACDA98C12B4C28E8316D4BF6BF11,20220920,2.371454,-3.330669e-16,2.371454
1090681,C4F29A816AC4784FDB0153CF73A8FCC6,20220920,9.431037,1.008821e+00,6.406333
1090682,EB66FB4F74CC08D508743EF92025615F,20220920,6.801961,5.296410e-01,5.261208

In [115]:
WLA_6m_predict_trend.query('slope>0')

,company_id,date,predict,slope,score_20200601,trend
1,4E36A8BD4CD05D0298EABA314AA57024,20220920,5.508993,0.123115,5.150845,1.0
8,B03A794AD1F6023BE6FC71B5117EC0FD,20220920,5.217492,0.650921,5.081849,1.0
9,286743630C50698A39164A80868AFA93,20220920,36.756489,0.498199,36.573526,1.0
13,941A3585360F64EE9FC045F9ED2E8780,20220920,0.321718,0.010746,0.302530,1.0
14,8648CB36A9D61387BE5533778B7FCDEC,20220920,5.156620,0.923202,5.568604,-1.0
...,...,...,...,...,...,...
1090672,54EC71095A8AB67E84D4D5BB634DF512,20220920,8.646462,1.175167,5.777248,1.0
1090677,D15AB6B98B837C9F4404454974F511BD,20220920,6.476714,0.837321,4.040904,1.0
1090678,1B9C7C87C2BB1DADDDE2B8C50F1B50D9,20220920,6.044620,0.277153,5.646868,1.0
1090681,C4F29A816AC4784FDB0153CF73A8FCC6,20220920,9.431037,1.008821,6.406333,1.0
1090682,EB66FB4F74CC08D508743EF92025615F,20220920,6.801961,0.529641,5.261208,1.0

In [102]:
WLA_6m_predict_trend['trend']=np.sign(WLA_6m_predict_trend.predict-WLA_6m_predict_trend.score_20200601)
WLA_6m_predict_trend['trend'].value_counts()

 1.0    536552
-1.0    505019
 0.0     49112
Name: trend, dtype: int64

## Compare_WLA_6m

In [114]:
old_score_trend

                               company_id  score_20200601     actual  trend
0        FE030E194232443AD6C2C7A56BBD0B9D        0.699041   2.876428    1.0
1        1CDB29FD9A2C7C6C6C04024FCFF2AA37       22.035425  33.096290    1.0
2        5C6D247E93C4494BE9F6B0340AEBCA83        2.053054   6.413233    1.0
3        45318BD7A78D253F77219D8B966CF443        0.309694   3.707004    1.0
4        398A5BFE62334C1C949E388A1F21968B       13.134399  16.591630    1.0
...                                   ...             ...        ...    ...
1090700  2B05327D9D065A99DC61C3927477C8C5        4.691243   8.043850    1.0
1090701  5F13529740D8446021D455C22F25759D        4.691243   8.043850    1.0
1090702  78A6B6F59EAECB32FD0476F4D5F5FDA4        1.846697   5.056446    1.0
1090703  E54FE2170891921BC7E5B66B5021A144        3.207977   6.560584    1.0
1090704  3969431AFF684B77C3A3197A99E73BFE       15.830943  23.795441    1.0

[1090705 rows x 4 columns]

In [103]:
Compare_WLA_6m=pd.merge(old_score_trend,WLA_6m_predict_trend,on='company_id',suffixes=['_old','_pre'])
Compare_WLA_6m

,company_id,score_20200601_old,actual,trend_old,date,predict,slope,score_20200601_pre,trend_pre
0,FE030E194232443AD6C2C7A56BBD0B9D,0.699041,2.876428,1.0,20220920,0.699041,-5.551115e-17,0.699041,0.0
1,1CDB29FD9A2C7C6C6C04024FCFF2AA37,22.035425,33.096290,1.0,20220920,22.805650,3.009314e-01,22.035425,1.0
2,5C6D247E93C4494BE9F6B0340AEBCA83,2.053054,6.413233,1.0,20220920,2.053054,-2.220446e-16,2.053054,-1.0
3,45318BD7A78D253F77219D8B966CF443,0.309694,3.707004,1.0,20220920,0.309694,-2.775558e-17,0.309694,0.0
4,398A5BFE62334C1C949E388A1F21968B,13.134399,16.591630,1.0,20220920,19.615569,2.251117e+00,13.134399,1.0
...,...,...,...,...,...,...,...,...,...
1090678,2B05327D9D065A99DC61C3927477C8C5,4.691243,8.043850,1.0,20220920,6.807644,6.973487e-01,4.691243,1.0
1090679,5F13529740D8446021D455C22F25759D,4.691243,8.043850,1.0,20220920,6.728985,1.141238e+00,4.691243,1.0
1090680,78A6B6F59EAECB32FD0476F4D5F5FDA4,1.846697,5.056446,1.0,20220920,1.846697,-1.110223e-16,1.846697,1.0
1090681,E54FE2170891921BC7E5B66B5021A144,3.207977,6.560584,1.0,20220920,4.595260,7.769489e-01,3.207977,1.0
1090682,3969431AFF684B77C3A3197A99E73BFE,15.830943,23.795441,1.0,20220920,0.000000,NaN,15.830943,-1.0

In [113]:
Compare_WLA_6m.query('trend_old==-1 and trend_pre==1')

,company_id,score_20200601_old,actual,trend_old,date,predict,slope,score_20200601_pre,trend_pre
10,6045458AD97F43D0589201442FA642E8,28.963793,28.091081,-1.0,20220920,30.571682,0.994726,28.963793,1.0
145,2F678F5F0B1A93BCCF89CC68CBDCC5D9,26.604979,21.143972,-1.0,20220920,27.070383,0.148775,26.604979,1.0
154,23870A09C1840800D3E2C6EE2C80715C,21.579940,18.753925,-1.0,20220920,21.720225,0.048367,21.579940,1.0
172,101A918C5128E597E418148CAB7F1679,23.815964,21.861578,-1.0,20220920,24.041343,0.088282,23.815964,1.0
285,889C06BF5545A0A6DD774B4EC95CC9BF,29.402533,29.306317,-1.0,20220920,29.424377,0.012234,29.402533,1.0
...,...,...,...,...,...,...,...,...,...
1090459,BE680B8E1D710AAD67C6947F1052F82F,36.126858,36.104824,-1.0,20220920,37.802917,0.676010,36.126858,1.0
1090464,F092FFDE774F103BA8EE7A0D7E07E927,37.877042,35.110291,-1.0,20220920,39.273640,0.349249,37.877042,1.0
1090564,BAEB14AF021D671D3D2D86A42CEDA216,22.772758,22.419497,-1.0,20220920,22.829271,-0.224751,22.772758,1.0
1090621,DDC0DC9C3CD22D6CDBA3ECC58C978B9E,36.461962,36.343762,-1.0,20220920,37.495038,-0.050673,36.461962,1.0
1090626,11AF095DC4E776958C798DC40E5F2501,8.420109,7.409308,-1.0,20220920,8.668136,0.140504,8.420109,1.0

In [104]:
perform = pd.DataFrame(classification_report(Compare_WLA_6m['trend_old'].tolist(), Compare_WLA_6m['trend_pre'].tolist(), output_dict = 'dict')).transpose()
perform.sort_values('f1-score', ascending = False)

              precision    recall  f1-score       support
1.0            0.945435  0.492123  0.647306  1.030790e+06
weighted avg   0.896559  0.491397  0.617210  1.090683e+06
accuracy       0.491397  0.491397  0.491397  4.913967e-01
macro avg      0.334788  0.355984  0.251094  1.090683e+06
-1.0           0.056566  0.487683  0.101374  5.857700e+04
0.0            0.002362  0.088146  0.004601  1.316000e+03